html,
body,
div,
span,
object,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strong,
sub,
sup,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/*html5 display-role reset for older browsers*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote {
    quotes: none;
}

blockquote:before,
blockquote::after,
q:before,
q::after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*style starts*/
body {
    font-family: sans-serif;
    line-height: 1;
    background: #fcfcfc;
}

a {
    text-decoration: none;
}

.main {
    display: grid;
    width: 1200px;
    margin: 0 auto;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.masthead .top-menu {
    width: 100%;
    float: left;
    background: #182d37;
}

.masthead .top-menu ul li {
    display: inline-block;
}

.masthead .top-menu ul li a {
    display: block;
    padding: 20px 15px;
    color: #4c7d89 !important;
}

.masthead .top-menu ul li a:hover {
    color: #8bc34a;
}

.main_menu {
    width: 100%;
    float: right;
    background: #fff;
}

.main_menu ul li {
    display: inline-block;
}

.main_menu ul li a {
    display: block;
    padding: 30px 10px;
    color: #182d37;
}

.right-side {
    float: left;
}

.left-side {
    float: right;
}

.item1 { grid-area: header; }

.item2 { grid-area: side; }

.item3 { grid-area: main; }

.item4 { grid-area: right; }

.item5 { grid-area: footer; }

.boxes{
    margin: 30px 0px;
}

.grid-container{
    display: grid;
    grid-template-areas: 
        "header header header header header header"
        "side main main footer right right";
    gap: 1px;
}

.grid-container img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.grid-container > div{
    text-align: center;
    font-size: 30px;
    color: white;
}

.grid-container div:hover{
    background-color: #182d37;
    transition: ease-in-out 0.5s;
}

.contentBox1{ grid-area: contentBox1;}
.contentBox2{ grid-area: contentBox2;}
.contentBoxPromotion{ grid-area: contentBoxPromotion;}

.gridBodyBox{
    margin: 0px 0px 30px 0px;
    display: grid;
    grid-template-areas:
    "contentBox1 contentBox1 contentBox2 contentBox2  contentBoxPromotion contentBoxPromotion";
    gap: 20px;
}

.gridBodyBox > div{
    text-align: center;
    margin: 0px auto;
    position: relative;
    padding: 0px 0px;
    border-radius: 10px;
    background-color: #f2f2f2;
    width: 100%;
}

.gridBodyBox img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    max-height: 150px;
    object-fit: cover;
}

.gridBodyBox .title{
    padding: 20px;
    color: #182d37;
}

.gridBodyBox .boxContent{
    display: block;
    text-align: justify;
    margin: 0px auto;
    width: 83%;
    padding: 0px 0px 20px 0px;
    line-height: 25px;
}

.flexContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}

.flexContainer > div{
    padding: 15px 10px;
    width: 30.5%;
    background-color: #f2f2f2;
    border-radius: 10px;
}

.flexContainer .productImageBox{
    display: flex;
    flex-direction: row;
}

.flexContainer .productImageBox img{
    width: 50%;
    object-fit: cover;
    float: left;
}

.flexContainer .product-content .product-title{
    font-weight: 700;
}

.flexContainer .product-content .product-description{
    line-height: 25px;
    text-align: inherit;
}

.flexContainer .product-content button{
    width: 100%;
    color: white;
    background: #182d37;
    border: 0px;
    outline: none;
    border-radius: 5px;
    padding: 6px;
}

.about-us-section{
    display: flex;
    flex-direction: row;
    background-color: black;
    padding: 20px 20px;
    border-radius: 10px;
}

.about-us-section > div{
    width: 600px;
}

.about-us-section .imageBoxSection > img{
    width: 400px;
    float: right;
    object-fit: cover;
}

.about-us-section .aboutUsContent{
    color: white;    
}

.about-us-section .aboutUsContent .aboutus-title{
    font-weight: 700;
}

.about-us-section .aboutUsContent .aboutus-description{
    line-height: 25px;
    text-align: justify;
}

.about-us-section .aboutUsContent button{
    padding: 6px;
    width: 23%;
    outline: none;
    border: none;
    border-radius: 5px;
    background: white;
}